@use "../styles/variables";

.pageTitle,
.pageText {
  padding-left: 15px;
}

.goBackButton {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  height: 36px;
  padding: 0;
  margin: 0;
  font-size: 16px;
  background: variables.$blue;
  color: variables.$white;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  margin-left: 15px;

  svg {
    height: 12px;
    width: 12px;
    margin-left: 10px;
  }
}
