@use "../styles/variables.scss";

.root {
  width: variables.$content-container-width;
  border-radius: variables.$border-radius !important;
  border: 1px solid variables.$blue;
  margin-top: 16px;

  svg {
    height: 30px;
    width: 30px;
  }
}

.heading {
  flexbasis: "33.33%";
  flexshrink: 0;
}
