.container {
  color: blue;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 600px;
  margin: auto;
  background: gainsboro;
}

.header {
  color: blue;
}

.body {
  color: blue;
}
